go 1.25

use (
	./packages/compute-descheduler
	./packages/compute-goldilocks
	./packages/compute-grafana-rollout-operator
	./packages/compute-kamaji
	./packages/compute-keda
	./packages/compute-vpa
	./packages/debian
	./packages/development-atlas-operator
	./packages/development-dex
	./packages/development-tekton-chains
	./packages/development-tekton-dashboard
	./packages/development-tekton-pipeline
	./packages/development-tekton-results
	./packages/development-tekton-triggers
	./packages/development-theia
	./packages/development-zot
	./packages/finops-cloud-cost-exporter
	./packages/finops-opencost
	./packages/gitops-argo-cd
	./packages/gitops-argo-events
	./packages/gitops-argo-rollouts
	./packages/gitops-argo-workflows
	./packages/mlops-data-fusion-ballista
	./packages/mlops-kuberay
	./packages/mlops-ome
	./packages/mlops-volcano
	./packages/networking-calico
	./packages/networking-external-dns
	./packages/networking-gateway-api
	./packages/networking-linkerd
	./packages/networking-linkerd-viz
	./packages/observability-alloy
	./packages/observability-grafana
	./packages/observability-grafana-mcp
	./packages/observability-kube-state-metrics
	./packages/observability-loki
	./packages/observability-metrics-server
	./packages/observability-mimir
	./packages/observability-node-exporter
	./packages/observability-prometheus
	./packages/observability-pyroscope
	./packages/observability-tempo
	./packages/security-bank-vaults-operator
	./packages/security-bank-vaults-webhook
	./packages/security-cert-manager
	./packages/security-falco
	./packages/security-kyverno
	./packages/security-openbao
	./packages/security-openfga
	./packages/security-reloader
	./packages/storage-cnpg
	./packages/storage-k8ssandra
	./packages/storage-local-path-provisioner
	./packages/storage-minio
	./packages/storage-mongodb
	./packages/storage-pvc-autoresizer
	./packages/storage-strimzi
	./packages/storage-topolvm
	./packages/storage-valkey
	./packages/storage-velero
	./packages/sumicare-versioning
)
